{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style": 0,
    "indent": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "eol-last": 0,
    "spaced-comment": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "max-len": "off"
  },
  "extends": ["eslint:recommended", "google"]
}