1-webpack(import/exports)
    -babel
    -Scss
    -Eslint(clear code)
    -2 modes
        -dev(Dev server, SourceMaps, Eslint, Not minified JS & CSS)
        -prod(minified code)
2-git
    -production
    -development
